<div class="pizza-summary">
    <h2>Order Summary</h2>
    <div class="pizza-summary__pizza" *ngFor="let pizza of parent?.get('pizzas')?.value">
        <div *ngIf="pizza.size">
            <h3>
                {{ pizza.size | titlecase }} Pizza
                <span class="pizza-summary__price">
                    {{ prices[pizza.size].base | currency: 'EUR' : 'symbol' }}
                </span>
            </h3>

            <div class="pizza-summary__ingredients">
                <div class="pizza-summary__ingredient" *ngFor="let ingredient of pizza.ingredients">
                    <i class="fa fa-plus"></i>
                    {{ ingredient | titlecase }}
                    <span class="pizza-summary__price">
                        {{ prices[pizza.size].ingredients | currency: 'EUR' : 'symbol' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="pizza-summary__total-price">Total: {{ totalPrice | currency: 'EUR' : 'symbol' }}</div>

    <button type="submit" class="pizza-summary__button" [disabled]="parent?.invalid">Place order</button>
</div>
