.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate {
    animation: spin 1.5s linear infinite;
}

svg {
    display: block;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
