<div class="pizza-ingredients">
    @if (loading$ | async) {
        <app-loader [center]="true" />
    }
    @if (selectedIngredientNames$ | async; as selectedIngredientNames) {
        @for (ingredient of ingredients(); track ingredient) {
            <label class="pizza-ingredient" [class.pizza-ingredient--active]="selectedIngredientNames.has(ingredient)">
                <input
                    type="checkbox"
                    [attr.name]="ingredient"
                    [attr.value]="ingredient"
                    (change)="updateIngredient(ingredient)"
                    [checked]="selectedIngredientNames.has(ingredient)"
                />
                <span class="pizza-ingredient__icon pizza-ingredient__icon--{{ ingredient }}"></span>
                {{ ingredient | titlecase }}
            </label>
        }
    }
</div>
