<div class="order-container">
    <pizza-preview></pizza-preview>
    <div class="order-form-summary-container">
        <div class="order-header">
            <button class="back-btn" type="button" (click)="goToPizza()">Go back</button>
            <h1>Place Your Order</h1>
        </div>

        <order-form (formDataSignal)="formDataSignalHandler($event)"></order-form>
        <promo-code></promo-code>
        <order-summary></order-summary>
        <button (click)="goToPayment()" class="pizza-continue-button" [disabled]="!isFormValid()">Continue</button>
    </div>
</div>
