:host,
.pizza-builder-container {
    height: 100%;
    display: flex;
    width: 100%;
}
.login-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.login-btn {
    background: none;
    cursor: pointer;
    color: #97c747;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
    outline: none;
}

.pizza-creator-container {
    background: #fff;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    margin-left: 20px;
    box-shadow: 0 1px 54px rgba(0, 0, 0, 0.27);
    padding: 20px 30px;
    height: 100%;
    max-width: 1400px;
}
@media (max-width: 768px) {
    :host,
    .pizza-builder-container {
        width: unset;
        height: unset;
        flex-direction: column;
        background: #2e3744;
        align-items: center;
    }

    .pizza-creator-container {
        top: 250px;
        margin: 0;
        overflow-y: unset;
        max-width: 92vw;
        min-width: 365px;
        padding: 8px;
    }
}

.pizza-continiue-button {
    width: 100%;
    background: #98c550;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: inherit;

    &:disabled {
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        cursor: not-allowed;
    }
}
