<div class="pizza-size section">
    <label *ngFor="let size of sizes; let i = index" class="pizza-size__item" [class.pizza-size__item--active]="value === size.type">
        <input type="radio" name="size" [attr.value]="size.type" (change)="onChangeSize(size.type)" [checked]="value === size.type" />

        <div class="pizza-size__plate">
            <div class="pizza-size__pizza pizza-size__pizza--{{ size.type }}">
                <div class="pizza-size__pizza__line"></div>
                <div class="pizza-size__pizza__line"></div>
                <div class="pizza-size__pizza__line"></div>
                <div class="pizza-size__pizza__line"></div>
            </div>
        </div>
        <div class="type-text" [class.first]="i === 0">{{ size.type | titlecase }} ({{ size.centimeters }}cm)</div>
    </label>
</div>
