    <form (ngSubmit)="onSubmit($event)" [formGroup]="detailsFormGroup" >
        <h2>Enter your details</h2>
        <div class="section" formGroupName="details">
            <div class="input">
                <label>
                    Name <span class="required">*</span>
                    <span
                        *ngIf="orderForm.get('details')?.get('name')?.hasError('required') && orderForm.get('details')?.get('name')?.touched"
                        class="error"
                    >
                        Field is required
                    </span>
                </label>
                <input formControlName="name" type="text" placeholder="Jan Kowalski" />
            </div>
            <div class="input">
                <label>
                    Email <span class="required">*</span>
                    <span *ngIf="orderForm.get('details')?.get('email')?.errors && orderForm.get('details')?.get('email')?.touched" class="error">
                        Field is required
                    </span>
                </label>
                <input formControlName="email" type="email" placeholder="Enter your email" />
            </div>
        </div>
        <div class="section" formGroupName="details">
            <div class="input">
                <label>
                    Address <span class="required">*</span>
                    <span
                        *ngIf="orderForm.get('details')?.get('address')?.errors && orderForm.get('details')?.get('address')?.touched"
                        class="error"
                    >
                        <span *ngIf="orderForm.get('details')?.get('address')?.hasError('required')"> Field is required </span>
                        <span *ngIf="orderForm.get('details')?.get('address')?.hasError('minlength')"> Min of 3 characters </span>
                    </span>
                </label>
                <input formControlName="address" type="text" placeholder="Street" />
            </div>
            <div class="input">
                <label>
                    Postcode <span class="required">*</span>
                    <span
                        *ngIf="orderForm.get('details')?.get('postcode')?.errors && orderForm.get('details')?.get('postcode')?.touched"
                        class="error"
                    >
                        <span *ngIf="orderForm.get('details')?.get('postcode')?.hasError('required')"> Field is required </span>
                        <span *ngIf="orderForm.get('details')?.get('postcode')?.hasError('minlength')"> Min of 3 characters </span>
                    </span>
                </label>
                <input formControlName="postcode" type="text" placeholder="00-000" />
            </div>
            <div class="input">
                <label>
                    Contact Number <span class="required">*</span>
                    <span *ngIf="orderForm.get('details')?.get('phone')?.errors && orderForm.get('details')?.get('phone')?.touched" class="error">
                        Field is required
                    </span>
                </label>
                <input formControlName="phone" type="text" placeholder="+48 123 456 789" />
            </div>
        </div>
    </form>
