<div class="pizza-summary">
    <h2>Order Summary</h2>
    <div class="pizza-summary__pizza" *ngFor="let pizza of pizzas$ | async">
        <div *ngIf="pizza.size">
            <h3>
                {{ pizza.size | titlecase }} Pizza
                <span class="pizza-summary__price">
                    {{ pizza.price | currency: 'EUR' : 'symbol' }}
                </span>
            </h3>

            <div class="pizza-summary__ingredients">
                <div class="pizza-summary__ingredient" *ngFor="let ingredient of pizza.ingredients">
                    <i class="fa fa-plus"></i>
                    {{ ingredient.name | titlecase }}
                    <!-- <span class="pizza-summary__price">
                        {{ ingredient.price | currency: 'EUR' : 'symbol' }}
                    </span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="pizza-summary__total-price">Total: {{ totalPrice$ | async | currency: 'EUR' : 'symbol' }}</div>
</div>
