<div class="pizza-creator">
    <h2>
        Choose your pizzas
        <button class="button" type="button" (click)="addPizza()">
            <i class="fa fa-plus"></i>
            Add pizza
        </button>
    </h2>

    <div *ngIf="pizzas$ | async as pizzas">
        <div *ngFor="let pizza of pizzas; let i = index">
            <div class="pizza-creator__header" (click)="togglePizza(i)">
                <i
                    class="fa fa-fw pizza-creator__icon"
                    [class.fa-chevron-down]="(activePizzaId$ | async) !== pizza.id"
                    [class.fa-chevron-up]="(activePizzaId$ | async) === pizza.id"
                ></i>
                Pizza {{ i + 1 }}

                <i class="fa fa-fw pizza-creator__status" [class.fa-check]="pizza.valid" [class.fa-times]="!pizza.valid"></i>

                <!-- <div class="pizza-creator__delete" *ngIf="pizzas.length > 1" (click)="removePizza(i)">
                    <i class="fa fa-trash fa-fw"></i>
                </div> -->
            </div>

            <div class="pizza-creator__content" [class.pizza-creator__content--open]="(activePizzaId$ | async) === pizza.id">
                <h3>Select the size <span class="required">*</span></h3>
                <pizza-size> </pizza-size>

                <h3>Pick your ingredients</h3>
                <pizza-ingredients></pizza-ingredients>
            </div>
        </div>
    </div>
</div>
